* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

span {
  display: flex;
  float: right;
  margin: 20px;

}

.container {
  height: 100vh;
  display: flex;

}

.switch {
  padding: 0 20px;
  position: absolute;
  bottom: 15%;
  left: 1%;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  height: 35px;
  cursor: pointer;
}

/* Audio Section */

.audioContainer {
  width: 100%;
  height: 12vh;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 0.8;
  bottom: 0;
  padding-right: 2rem;
}

.slider {
  width: 100%;
  height: 5px; 
  background: #8b8b8b; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.audio_controller  input {
  margin: 20px;
}

.controller {
  display: flex;
  color: #fff;
  font-size: 3em;
}


/* Chat Container */

.chatContainer {
  color: #fff;
  position: absolute;
  width: 380px;
  right: 0;
  height: 88vh;
  overflow-y: auto;
  background-color: rgb(0, 0, 0, 0.8);
  transition: right .5s;
}

.chat-input {
  bottom: 0;
  width: 100%;
  padding: 7px 10px;
  position: sticky;
}